<h1>Usuario actual</h1>

<p>Correo: <%= @user.email %> <%= link_to "Salir", destroy_user_session_path %></p>

<p>El rol de este usuario es <%= @user.role.title %>, el cual tiene <%= @user.role.permissions.count %> permisos.</p>


<h1>Permisos posibles en la aplicacion</h1>

<ul>
  <% @permissions.each do |permission| %>
    <li title="<%= permission.description %>">
      <%= permission.title %>
    </li>
  <% end %>
</ul>

<h1>Roles existentes en la aplicacion</h1>

<p>Se muestran los roles y los permisos que tiene cada rol.</p>

<ul>
  <% @roles.each do |role| %>
    <li>
      <span title="<%= role.description %>"><%= role.title %></span>
      <ul>
        <% role.permissions.each do |permission| %>
          <li title="(<%= permission.symbol %>) <%= permission.description %>"><%= permission.title %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


<h1>Lista de articulos</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <button>Editar</button>
      <button>Eliminar</button>
      <small>Por <%= article.user.email %></small>
      <%= article.text %>
    </li>
  <% end %>
</ul>

<input id="nuevo-articulo-input" type="text" placeholder="Escribe algo"></input>
<button id="nuevo-articulo-boton">Enviar</button>

<script>


$("#nuevo-articulo-boton").click(function(){

  var text = $("#nuevo-articulo-input").val();

  $.ajax({
    url: '<%= articles_path %>',
    type: 'POST',
    data: JSON.stringify({ text }),
    contentType: "application/json",
    dataType: "json",
    success: function(response) {
      window.location.reload();
    },
    error: function(error){
      console.log(error.responseText)
    }
  });




});


</script>
